<div class="panel panel-default">	
	<div class="panel-heading">
		<div class="day-buttons">
			<div class="append-days"></div>
<!-- 			<button class="btn btn-circle day-btn">1</button> -->
			<button id="itinButton" class="btn btn-circle day-btn">+</button>
		</div>
	</div>
	<div class="panel-body">
		<div>
			<h4>My Hotels</h4>
			<ul id="listHotels" class="list-group">
			</ul>
		</div>
		<div>
			<h4>My Restaurants</h4>
			<ul id="listRestaurants" class="list-group">
				<div class="itinerary-item">
					<span class="title">{{ }}</span><!--
				 --><span class="remove">
						<button class="btn btn-danger btn-xs btn-circle pull-right">x</button>
					</span>
				</div>
				<div class="itinerary-item">
					<span class="title">{{  }}</span><!--
				 --><span class="remove">
						<button class="btn btn-danger btn-xs btn-circle pull-right">x</button>
					</span>
				</div>
			</ul>
		</div>
		<div>
			<h4>My Things To Do</h4>
			<ul id="listThingsToDo" class="list-group">
				<div class="itinerary-item">
					<span class="title">{{  }}</span><!--
				 --><span class="remove">
						<button class="btn btn-danger btn-xs btn-circle pull-right">x</button>
					</span>
				</div>
				<div class="itinerary-item">
					<span class="title">{{  }}</span><!--
				 --><span class="remove">
						<button class="btn btn-danger btn-xs btn-circle pull-right">x</button>
					</span>
				</div>
				<div class="itinerary-item">
					<span class="title">{{  }}</span><!--
				 --><span class="remove">
						<button class="btn btn-danger btn-xs btn-circle pull-right">x</button>
					</span>
				</div>
			</ul>
		</div>
	</div>
</div>